<%- unless post.attachments -%>
  <p>No attached file.</p>
<%- else -%>

<%- if post.title && !post.title.empty? -%>
  <h2>
    <%= post.title %>
  </h2>
<%- end -%>
  <img class="image" src="<%= couch_uri + post.attachment_path(post.attachments.keys.first) %>" <%= "alt=\"#{post.name}\" " if post.name %>/>
<%- if post.description && !post.description.empty? -%>
  <p>
    <%= post.description %>
  </p>
<%- end -%>
<%- end -%>