  <h2 class="xfolkentry">
    <a class="taggedlink" href="<%= post.url %>"><%= post.title %></a>
    <small class="description">
      &mdash; <%= post.description.gsub("\r", "<br/>") %>
    </small>
    <%- unless post.tags.blank? -%>
    <small class="tags">
      (<%= post.tags.split(' ').collect {|tag| "<a rel=\"tag\" href=\"http://del.icio.us/tag/#{tag}/\">#{tag}</a>"}.join(' ') %>)
    </small>
    <%- end -%>
  </h2>