  <h2 class="xfolkentry">
    <a class="taggedlink" href="<%= post.url %>"><%= post.title %></a>
  <%- if post.notes && !post.notes.empty? -%>
    <small class="description">
      &mdash; <%= post.notes %>
    </small>
  <%- end -%>
  </h2>