  <h2 class="xfolkentry">
    <a class="taggedlink" href="<%= post.url %>"><%= (post.name && !post.name.empty?) ? post.name : post.url %></a>
<%- if post.description && !post.description.empty? -%>
    <small class="description">
      &mdash; <%= post.description %>
    </small>
<%- end -%>
  </h2>