  <p>
    <a href="<%= post.url %>"><%= (post.name && !post.name.empty?) ? post.name : post.url %></a>
    <%- if post.description && !post.description.empty? -%>
    &mdash; <%= post.description %>
    <%- end -%>
  </p>