  <blockquote class="quote">
    "<%= post.quote.gsub("\r", "<br/>") %>"
  </blockquote>

<%- if post.source && !post.source.empty? -%>
  <p class="quote">
    &mdash; <%= post.source %>
  </p>
<%- end -%>