<h1>Sign-in</h1>

<form action="<%= slice_url(:'merb-auth', :perform_login) %>" method="post">
  <input type="hidden" value="put" name="_method"/>

  <label for="email" class="required">Email</label>
  <input type="text" id="email" name="email" />

  <label for="password" class="required">Password</label>
  <input type="password" id="password" name="password" />

  <input type="submit" value="Login!" />
</form>
