html {
	background-color:#000000;
}
body {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 1.6666666666666667em;
	line-height: 0.9em;
	margin-bottom: 0.9em;
}
h2 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
}
h3 {
	margin: 0;
	font-size: 1.3333333333333333em;
	line-height: 1.125em;
	margin-bottom: 1.125em;
}
blockquote, input, label, p, pre, td, th, textarea, ul {
	margin: 0px;
	font-size: 1.1666666666666667em;
	line-height: 1.2857142857142858em;
	margin-bottom: 1.2857142857142858em;
}
label { margin: 0;}
p.small {
	margin: 0;
	font-size: 0.8333333333333334em;
	line-height: 1.8em;
	margin-bottom: 1.8em;
}

span.message, span.todo, span.warning {
	border: 2px solid #999999;
	color: #666666;
	display: block;
	font-weight :bold;
	margin: 0px auto;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	width: 512px;
}
span.message {
	background-color: #FFFF99;
}
span.warning {
	background-color: #FF9999;
}
span.warning ul {
	margin-bottom: 0;
}
span.warning ul li {
	list-style: disc;
}

ul.navigation {
	margin-bottom: 10px;
	padding: 10px;
}
ul.navigation li {
	display: inline;
	padding: 5px 0px;
}
ul.navigation li a {
	background-color: #999999;
	border: 2px solid #666666;
	color:#FFFFFF;
	padding: 5px;
	text-decoration: none;
}
ul.navigation li a:hover {
	background-color: #DDDDDD;
}

form {
	text-align:left;
	margin: 0px auto;
	width: 256px;
}
form input, form label, form select, form textarea {
	display: block;
	margin: 10px auto;
	width: 80%;
}
form label.optional {
	color:#999999;
}
form label.required {
	color:#CC6666;
}
form textarea {
	height: 128px;
}

ul.posts {
	margin: 0px auto;
	width: 512px;
}
ul.posts li.post {
	background-color:#FFFFFF;
	border: 2px solid #666666;
	margin: 10px;
	padding: 20px;
	position: relative;
}
ul.posts li.post a.timestamp {
	background-color: #FFFFFF;
	border: 2px solid #666666;
	border-right: 1px dotted #666666;
	color: #666666;
	font-size: 1.1666666666666667em;
	left: -61px;
	margin-top: 0.642857142857143em;
	padding: 0.642857142857143em;
	padding-right: 1em;
	position: absolute;
	text-decoration: none;
	top: 0;
	width: 32px;
}

ul.posts li.post a.timestamp:hover {
	background-color: #EEEEEE;
}

ul.posts li.post h1, ul.posts li.post p {
	text-align: left;
}

ul.posts li.post ul.chat {
	text-align: left;
}
ul.posts li.post ul.chat li.message {
	padding: 5px;
}
ul.posts li.post ul.chat li.message.even {
	background-color: #DDDDDD;
}
ul.posts li.post ul.chat li.message.odd {
	background-color: #EEEEEE;
}

ul.posts li.post pre.code {
	background-color: #EEEEEE;
	color: #000000;
	overflow: hidden;
	padding: 20px;
	text-align: left;
}
ul.posts li.post pre.code:hover {
	overflow: auto;
}

ul.posts li.post img.image {
	border:10px solid #DDDDDD;
	max-width:437px;
}

ul.posts li.post blockquote.quote {
	text-align: left;
}
ul.posts li.post p.quote {
	text-align: right;
}
