body {
	font-family: helvetica, arial, sans-serif;
	font-size:12px;
	line-height:1.5em;
	text-align:center;
}

h1 {
	margin: 0;
	font-size: 1.6666666666666667em;
	line-height: 0.9em;
	margin-bottom: 0.9em;
}
h2 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
}
h3 {
	margin: 0;
	font-size: 1.3333333333333333em;
	line-height: 1.125em;
	margin-bottom: 1.125em;
}
h4 {
	margin: 0;
	font-size: 1.1666666666666667em;
	line-height: 1.2857142857142858em;
	margin-bottom: 1.2857142857142858em;
}
p, ul, blockquote, pre, td, th, label {
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
label { margin: 0;}
p.small {
	margin: 0;
	font-size: 0.8333333333333334em;
	line-height: 1.8em;
	margin-bottom: 1.8em;
}

span.message, span.todo, span.warning {
	border:2px solid #999999;
	color:#666666;
	display:block;
	font-weight:bold;
	margin:10px 10px;
	padding:10px;
	text-align:center;
}

span.message {
	background-color:#FFFF99;
}
span.warning {
	background-color:#FF9999;
}
span.warning ul {
	margin-bottom:0;
}
span.warning ul li {
	list-style:disc;
}

ul.navigation {
	margin-bottom:10px;
	padding:10px;
}
ul.navigation li {
	display:inline;
	padding:5px 0px;
}
ul.navigation li a {
	background-color:#EEEEEE;
	padding:5px;
}
ul.navigation li a:hover {
	background-color:#CCCCCC;
}

label.optional {
	color:#999999;
}
label.required {
	color:#FF6666;
}