html {
	background-color:#111111;	
}

body {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 1.6666666666666667em;
	line-height: 0.9em;
	margin-bottom: 0.9em;
}
h2 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
}
h3 {
	margin: 0;
	font-size: 1.3333333333333333em;
	line-height: 1.125em;
	margin-bottom: 1.125em;
}
blockquote, input, label, p, pre, td, th, textarea, ul {
	margin: 0px;
	font-size: 1.1666666666666667em;
	line-height: 1.2857142857142858em;
	margin-bottom: 1.2857142857142858em;
}
label { margin: 0;}
p.small {
	margin: 0;
	font-size: 0.8333333333333334em;
	line-height: 1.8em;
	margin-bottom: 1.8em;
}

a {
	color: #999;
	text-decoration: none;
}
a:hover {
	color: #CCC;
}

.main {
	background-color: #000;
	border: 2px solid #222;
	margin: 20px auto; 
	text-align: left;
	width: 600px;
}

.header {
	padding: 56px;
	text-align: center;
}

.menu a {
	padding: 5px;
	border-right: 1px solid #222;
	border-top: 1px solid #222;
	float: left;
	font-size: 1.2em;
	padding: 10px;
	width:128px;
}
.menu a:hover {
	background-color: #111111;
}

.content {
	border-top: 1px solid #222;
  clear:both;
  color:#666;
  padding-top: 20px;
}

span.message, span.todo, span.warning {
	border: 2px solid #999999;
	color: #666666;
	display: block;
	font-weight :bold;
	margin: 0px auto;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	width: 512px;
}
span.message {
	background-color: #FFFF99;
	border: 2px solid #FFFF1F;
}
span.warning {
	background-color: #FF9999;
}
span.warning ul {
	margin-bottom: 0;
}
span.warning ul li {
	list-style: disc;
}

form {
	text-align:left;
	margin: 0px auto;
	width: 512px;
}
form input, form label, form select, form textarea {
	display: block;
	margin: 10px auto;
	width: 80%;
}
form label.optional {
	color:#999999;
}
form label.required {
	color:#CC6666;
}
form textarea {
	height: 128px;
}
form span.message, form span.warning {
	width: 512px;
}

ul.posts {
	margin: 0px auto;
	margin-bottom: 20px;
	width: 512px;
}
ul.posts.border {
	border-bottom: 1px solid #222222;
}
ul.posts li.date {
	color: #666666;
	text-align: left;
}
ul.posts li.post {
	padding: 0px 20px;
	position: relative;
}
ul.posts li.seperator {
	border-bottom: 1px solid #222222;
	margin: 0px 128px 21px 128px;
	padding: 0px;
}
ul.posts li.post a.permalink {
	display: none;
	left: 2px;
	position: absolute;
	text-decoration: none;
	top: 0px;
}
ul.posts li.post:hover a.permalink {
	display: block;
}

ul.posts li.post h2, ul.posts li.post p {
	text-align: left;
}

ul.posts li.post ul.chat {
	text-align: left;
}
ul.posts li.post ul.chat li.message {
	padding: 5px;
}
ul.posts li.post ul.chat li.message.even {
	background-color: #111111;
}
ul.posts li.post ul.chat li.message.odd {
	background-color: #222222;
}
ul.posts li.post ul.chat li.message span {
	font-weight: bold;
}

ul.posts li.post pre.code {
	background-color: #222222;
	overflow: hidden;
	padding: 20px;
	text-align: left;
}
ul.posts li.post pre.code:hover {
	overflow: auto;
}

ul.posts li.post .image {
	text-align: center;
}
ul.posts li.post .image img {
	border: 10px solid #222222;
	max-width: 437px;
	margin-bottom: 15px;
}

ul.posts li.post blockquote.quote {
	margin-bottom: 0px;
	text-align: left;
}
ul.posts li.post p.quote {
	text-align: left;
}

ul.navigation {
	margin: 0px auto;
	margin-bottom: 20px;
	width: 512px;
}
ul.navigation li {
	display: inline;
}