    <li class="post">
      <a class="timestamp" href="<%= url(:post, post) %>">
        <abbr title="<%= post.created_at %>"><%= post.created_at.strftime("%m/%d") %></span>
      </a>
      <%= partial "posts/show/#{post.post_type.name.downcase}", :with => post, :as => :post %>
    </li>