<% dates = @posts.collect {|post| post.created_at.strftime(default_date_format)}.uniq! %>

<% dates.collect do |date| %>
<ul class="posts<%= ' border' unless date == dates.last %>">
  <li class="date">
    <h2><%= date %></h2>
  </li>
  <%- posts = [] -%>
  <%- @posts.select {|post| post.created_at.strftime(default_date_format) == date}.each do |post| -%>
    <%- posts << partial(:post, :with => post) %>
  <%- end -%>
  <%= posts.join('<li class="seperator"></li>')%>
</ul>
<% end %>