<ul class="posts">
  <%= partial :post, :with => @post %>
</ul>

<ul class="navigation">
  <a href="<%= url(:posts) %>"><li>index</li></a>
  <a href="<%= url(:edit_post, @post.id) %>"><li>edit</li></a>
  <a href="<%= url(:delete_post, @post.id) %>" method="delete" onclick="return confirm('Are you sure?');"><li>destroy</li></a>
</ul>