<ul class="posts">
  <li class="date">
    <h2><%= @post.created_at.strftime(default_date_format) %></h2>
  </li>
  <%= partial :post, :with => @post %>
</ul>

<%- if logged_in? -%>
<ul class="navigation">
  <li><a href="<%= url(:edit_post, @post) %>">edit</a></li>
  <li><a href="<%= url(:delete_post, @post) %>" method="delete" onclick="return confirm('Are you sure?');">destroy</a></li>
</ul>
<%- end -%>