<ul class="posts">
  <%= partial :post, :with => @post %>
</ul>

<ul class="navigation">
  <li><a href="<%= url(:posts) %>">index</a></li>
  <li><a href="<%= url(:edit_post, @post.id) %>">edit</a></li>
  <li><a href="<%= url(:delete_post, @post.id) %>" method="delete" onclick="return confirm('Are you sure?');">destroy</a></li>
</ul>