    <label for ="post[title]" class="optional">Title</label>
    <input type="text" id="post[title]" name="post[title]" value="<%= post.title %>">

    <label for="post[file]" class="required">File</label>
    <input type="file" id="post[file]" name="post[file]" size="12" />

    <label for="post[description]" class="optional">Description</label>
    <textarea id="post[description]" name="post[description]"><%= post.description %></textarea>