    <label for="post[title]" class="optional">Title</label>
    <input type="text" id="post[title]" name="post[title]" value="<%= post.title %>" />
  
    <label for="post[dialogue]" class="required">Dialogue</label>
    <textarea id="post[dialogue]" name="post[dialogue]"><%= post.dialogue %></textarea>