    <label for="post[title]" class="optional">Title</label>
    <input type="text" id="post[title]" name="post[title]" value="<%= post.title %>" />

    <label for="post[code]" class="required">Code</label>
    <textarea id="post[code]" name="post[code]"><%= post.code %></textarea>

    <label for="post[description]" class="optional">Description</label>
    <textarea id="post[description]" name="post[description]"><%= post.description %></textarea>