    <label for="link[url]" class="required">Link</label>
    <input type="text" id="link[url]" name="link[url]" value="<%= post.url if post.attributes.include?(:url) %>" />

    <label for="link[title]" class="optional">Title <small>(will default to title attribute of linked page)</small></label>
    <input type="text" id="link[title]" name="link[title]" value="<%= post.title if post.attributes.include?(:title) %>" />

    <label for="link[notes]" class="optional">Notes</label>
    <textarea id="link[notes]" name="link[notes]"><%= post.notes if post.attributes.include?(:notes) %></textarea>