    <label for="post[name]" class="optional">Name</label>
    <input type="text" id="post[name]" name="post[name]" value="<%= post.name %>" />

    <label for="post[url]" class="required">URL</label>
    <input type="text" id="post[url]" name="post[url]" value="<%= post.url %>" />

    <label for="post[description]" class="optional">Description</label>
    <textarea id="post[description]" name="post[description]"><%= post.description %></textarea>