    <label for="post[quote]" class="required">Quote</label>
    <textarea id="post[quote]" name="post[quote]"><%= post.quote %></textarea>

    <label for="post[source]" class="optional">Source</label>
    <input type="text" id="post[source]" name="post[source]" value="<%= post.source %>" />