    <label for="quote[quote]" class="required">Quote</label>
    <textarea id="quote[quote]" name="quote[quote]"><%= post.quote if post.attributes.include?(:quote) %></textarea>

    <label for="quote[source]" class="optional">Source</label>
    <input type="text" id="quote[source]" name="quote[source]" value="<%= post.source if post.attributes.include?(:source) %>" />