    <label for="post[title]" class="optional">Title</label>
    <input type="text" id="post[title]" name="post[title]" value="<%= post.title %>" />

    <label for="post[body]" class="required">Body</label>
    <textarea id="post[body]" name="post[body]"><%= post.body %></textarea>